.jumbotron {
  background-color: #1a75f1;
  color: #fff;
  margin-top: 50px;
  margin-bottom: 0px;
}

footer {
  padding: 10px 10px 0 10px;
  background: #1a75f1;
  margin-bottom: 0px;
  margin-top: 10px;
  margin-bottom: 0px;
  color: #fff;
}

footer a {
  color: #fff;
}

.card-curso {
  flex: 1 200px;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 0px;
}

.btn-reserva {
  width: 100%;
  border-radius: 0;
}

.footer-address-icon {
  padding-right: 10px;
}

.img-fluid {
  width: 100%;
}

.container .row {
  padding-left: 5px;
  padding-bottom: 10px;
}

.tab-content {
  padding-top: 10px;
}

.carousel img {
  height: 350px;
}

/*# sourceMappingURL=styles.css.map */
