$blue: #1a75f1;

@mixin margenes($top, $bottom) {
	margin-top: $top;
	margin-bottom: $bottom;
    
}

.jumbotron {
	background-color: $blue;
	color: black;
	@include margenes(50px, 0px);
}

footer {
	padding: 10px 10px 0 10px;
	background: $blue;
	margin-bottom: 0px;
	@include margenes(10px, 0px);
	color: #fff
}

.card-curso {

	flex: 1 200px;
	justify-content: space-between;
	@include margenes(10px, 0px);
}

.btn-reserva {
	width: 100%;
	border-radius: 0;
}

.footer-address-icon {
	padding-right: 10px;
	
}

.img-fluid {
	width: 100%;
} 

.container .row {
	padding-left: 5px;
	padding-bottom: 10px;
}

.tab-content {
	padding-top: 10px;
}

.carousel img {
	height: 350px;
}